@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET MVC + AngluarJS</h1>
    <p class="lead">CRUD Operations using AngularJS with MVC 5 and Entity Framework 6, Visual Studio 2017, SQL Express.</p>
</div>
